

#playground{
    width:100vw !important;
    height:100vh !important;
    background : rgba(0,0,0,1);
}

.bg-gray{
    background: #eee !important;
}

#box{
    height:130px !important;
}

.icon{
    font-size:80px !important;
}

#btn:hover{
    cursor: pointer;
}